
<label for="recipe_name">Name</label>
<input id="recipe_name" name="recipe[name]" type="text" value="<%= @recipe.name %>">
<label for="recipe_ingredients">Ingredients</label>
<input id="recipe_ingredients" name="recipe[ingredients]" type="text" value="<%= @recipe.ingredients %>">
<label for="recipe_instructions">Instructions</label>
<input id="recipe_instructions" name="recipe[instructions]" type="text" value="<%= @recipe.instructions %>">
