
<label for="recipe_name">Name</label>
<input id="recipe_name" name="recipe[name]" type="text" value="<%= @recipe.name %>">
<label for="recipe_ingredients">Ingredients</label>
<input id="recipe_ingredients" name="recipe[ingredients]" type="text" value="<%= @recipe.ingredients %>">
</br>
<label for="recipe_instructions">Instructions</label>
 <textarea id="recipe_text" name="recipe[instructions]" class="form-control" type="text" rows="8" value ="<%= @recipe.instructions %>"></textarea>

