<h1>Edit recipe</h1>

<%= render('layouts/errors', :object => @recipe) %>

<form action="/recipes/<%= @recipe.id %>" method="post">
  <input name="_method" type="hidden" value="patch">
   <%= render('form') %>
  <button>Update Recipe</button>
</form>

 </br></br></br><h4><a href="/recipes">Back to Home Page</a></h4>